.card {
    padding: 28rem;
    border-radius: 12rem;
    background: #FFF;
    box-shadow: 0rem 6rem 16rem 0rem rgba(68, 61, 65, 0.06);
    display: flex;
    flex-direction: column;
    gap: 20rem;
}

.card_cap{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 10rem;
}

.grid__item_logo{
    width: 45rem;
    height: 50rem;
}

.grid__item_p{
    color: #000;
    font-family: Roboto;
    font-size: 20rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 28rem */
}

.views{
    border-radius: 8rem;
    border: 1rem solid #FFC3A0;
    background:  #FFEEE4;
    padding: 0rem 12rem 22rem 12rem;
    /*gap: 20rem;*/
}

.view_hat{
    display: flex;
    height: 58rem;
    /*padding: 0rem 12rem;*/
    justify-content: space-between;
    align-items: center;
}
.view_hat_logo{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;
    color:  #252525;
    font-family: Roboto;
    font-size: 17rem;
    font-style: normal;
    font-weight: 500;
    line-height: 110%; /* 18.7rem */
}

.price_container {
    display: grid;
    /*padding: 0rem 12rem;*/
    grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
    grid-template-rows: 1fr 1fr; /* Three equal rows */
    gap: 8rem; /* Adjust the gap between columns and rows */
}

.price_item {
    /*padding: 10rem;*/
    text-align: center;
    border-radius: 6rem;
    border: 1rem solid var(--black-40, rgba(0, 0, 0, 0.40));
    background:  #F8F9FB;
    display: flex;
    flex-direction: column;
}
.price_item_amount{
    color:  #252525;
    font-family: Roboto;
    font-size: 16rem;
    font-style: normal;
    font-weight: 900;
    line-height: 140%; /* 22.4rem */
    border-bottom: 1rem solid var(--black-40, rgba(0, 0, 0, 0.40));
}

.price_item_spec{
    display: flex;
    flex-direction: row;
    font-family: Roboto;
    font-size: 16rem;
    font-style: normal;
    font-weight: 500;
    line-height: 140%; /* 22.4rem */
    letter-spacing: -0.32rem;
}

.price_item_sale{
    display: flex;
    width: 36rem;
    height: 29rem;
    padding: 4rem 0rem 3rem 0rem;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    flex-shrink: 0;
    color:  #FF5C00;

    border-right: 1rem solid var(--black-40, rgba(0, 0, 0, 0.40));;
}

.price_item_cost{
    display: flex;
    width: 65rem;
    height: 29rem;
    padding: 3rem 0rem;
    justify-content: center;
    align-items: flex-start;
    gap: 10rem;
    flex-shrink: 0;
    color: #252525;
}

.cost_rotate{
    width: 65.071rem;
    height: 17.473rem;
    transform: rotate(-11.645deg);
    flex-shrink: 0;
}

.effect{
    background: url('../images/star.svg');
}

.card_button_container{
    display: flex;
    justify-content: end;
}

.card_button{
    display: flex;
    gap: 2rem; /*6rem*/
    background: none;
    max-width: 151rem;
    min-width: 151rem;
    padding: 6rem 12rem 6rem 20rem;
    justify-content: center;
    align-items: center;
    border-radius: 1000rem;
    border: 1rem solid #FF5C00;
    color:  #FF5C00;
    font-family: Roboto;
    font-size: 16rem;
    font-style: normal;
    font-weight: 500;
    line-height: 150%; /* 24rem */
}
