

.header{
    display: flex;
    padding: 26rem 280rem 26rem 280rem;
    justify-content: space-between;
    background: #F1EAEE;
    position: sticky;
    top: 0;
    /*margin-bottom: 55rem;*/
}
.header.sticky {
    background-color: white; /* Change background color when sticky */
}



.header__logo{
    height: 44rem;
}

.header_menu{
    display: flex;
    flex-direction: column;
    position: relative;
    gap: 26rem;
}

.header_menu:hover .up{
    visibility: visible;
}

.logos{
    display: flex;
    justify-content: space-between;
    gap: 9rem;
    padding: 0 9rem 0 0rem;
}

.logos_down{
    position: absolute;
    top: 70rem;
}

/*.logos_down:hover .down{*/
/*    visibility: visible;*/
/*}*/

._hidden{
    visibility: hidden;
}

._down{
    top: 117rem;
}

.arrow_up{
    rotate: 180deg;
    color: white;
}

.button_orange{
    background-color: #FF5C00;
}

.button_grey{
    background: rgba(255, 255, 255, 0.30);
}


.logos_name{
    /*visibility: hidden;*/
    /*display: none;*/
    position: absolute;
    display: flex;
    justify-content: space-between;
    gap: 8rem;
    color: var(--black-40, rgba(0, 0, 0, 0.40));
    text-align: center;
    font-family: Roboto;
    font-size: 14rem;
    font-style: normal;
    font-weight: 400;
    line-height: 110%; /* 15.4px */
    letter-spacing: -0.56px;
    text-transform: capitalize;
}

.up{
    visibility: hidden;
    top: 47rem;
}
.down{
    top: 117rem;
    visibility: hidden;
}

.logos_name div{
    min-width: 44rem;
    display: flex;
    justify-content: center;
}

.logo_img{
    padding: 8rem;
    width: 44rem;
    height: 44rem;
    border-radius: 22rem;
    background: white;
}

.form {
    display: flex;
    flex-direction: row;
}

.search-field {
    width: 420rem;
    padding: 10rem 35rem 10rem 15rem;
    border: none;
    background-color: white;
    border-radius: 100rem;
    outline: none;
}

.search-button {
    background: transparent;
    border: none;
    outline: none;
    /*margin-left: -170rem;*/
}

.search-button img {
    width: 20rem;
    height: 20rem;
    object-fit: cover;
}

.header_buttons{
    display: flex;
    flex-direction: row;
    gap: 14rem;
}

.header_button{
    position: relative;
    display: flex;
    align-items: center;
    width: 29rem;
    height: 44rem;
}

.header__button{
    padding: 8rem;
    width: 44rem;
    height: 44rem;
    border-radius: 22rem;
    border: none;

}

.header_button p{
    position: absolute;
    width: 14rem;
    height: 14rem;
    right: 2rem;
    top:5rem;
    background-color: #FF5C00;
    font-size: 14rem;
    border-radius: 14rem;
    color:  #FFF;
    text-align: center;
    font-family: Roboto;
    font-style: normal;
    font-weight: 500;
    line-height: 100%; /* 14rem */
    letter-spacing: -0.7rem;
    text-transform: uppercase;
}
.header_button img{
    width: 22rem;
    height: 22rem;
}

