.search_container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background:  rgba(255, 255, 255, 0.30);
    border-radius: 22rem;
    width: 420rem;
    height: 44rem;
    gap:12rem;
    padding: 3rem 4rem 3rem 15rem;
}
.search_icon{
    width: 22rem;
    height: 36rem;
}
.search_container input{
    width: 100%;
    background-color: transparent;
    border: none;
    color: var(--black-40, rgba(0, 0, 0, 0.40));
    font-family: Roboto;
    font-size: 16rem;
    font-style: normal;
    font-weight: 300;
    line-height: 100%;
    outline: none;
}
.search_container:focus-within{
    background: white;
}



.search_container button{
    color: #252525;
    font-family: Roboto;
    border-radius: 20rem;
    font-size: 16rem;
    font-style: normal;
    font-weight: 400;
    line-height: 100%; /* 16px */
    display: flex;
    padding: 10rem 14rem;
    align-items: center;
    border: none;
    gap: 10rem;
    background: #F1EAEE;
}

input[type="search"]::-webkit-search-cancel-button {
    appearance: none;
    height: 16px; /* Высота крестика */
    width: 16px; /* Ширина крестика */
    background-color: transparent;
    border: none;
    cursor: pointer;
    /* Задайте свойство background-image для крестика */
    background-image: url('../images/Header/cross.svg'); /* Путь к изображению крестика */
    background-size: contain;
}

input:focus{
    color: #252525;
}

input:focus + button{
    background: #FF5C00;
    color: white;
}

input:focus + .App{
    filter: blur(100rem);
}

