nav{
    background: var(--white-50, rgba(255, 255, 255, 0.50));
    display: flex;
    padding: 7px 280px 9px 280px;
    justify-content: center;
    align-items: center;
    gap: 28px;
}

nav p{
    color: var(--black-40, rgba(0, 0, 0, 0.40));
    text-align: right;
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 441;
    line-height: 100%; /* 16px */
    text-transform: lowercase;
}