@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
/**/

:root{
  --white-50:rgba(255, 255, 255, 0.50);
  --black-40: rgba(0, 0, 0, 0.40)
}

.container{
  display: flex;
  flex-direction: column;
  padding: 0 280rem 0 280rem;
  height: 100vh;

  background: url("./images/background.svg");
  background-size: 100% ;
  background-repeat: no-repeat;
}


.content{
  padding-top: 34rem;
  display: flex;
  flex-direction: row;
}

.content main{
  width: 593rem;
  display: flex;
  flex-direction: column;
}

.content main h1{
  /*padding-top: 90rem;*/
  color: #252525;
  font-family: Roboto;
  font-size: 51rem;
  font-style: normal;
  font-weight: 700;
  line-height: 117%; /* 67.86rem */
  letter-spacing: -1.16rem;
}

.content main p{
  padding-top: 10rem;
  width: 494rem;
  color:  #252525;
  font-family: Roboto;
  font-size: 20rem;
  font-style: normal;
  font-weight: 500;
  line-height: 140%; /* 28rem */
}

.sale{
  box-shadow: 0rem 6rem 16rem 0rem rgba(68, 61, 65, 0.06);
  margin-top: 50rem;
  border-radius: 60rem;
  width: 330rem;
  height: 120rem;
  border: solid 2rem #FFDADA;
  display: flex;
  background: url('./images/sale.svg');
  background-size: 330rem;
  background-repeat: no-repeat;
  /*padding: 0rem 36rem 6rem 48rem;*/
  justify-content: space-around;
  align-items: center;
  align-content: center;
}

.sale button{
  display: flex;
  height: 48rem;
  padding: 14rem 20rem 16rem 20rem;
  justify-content: center;
  align-items: center;
  gap: 14rem;
  color: white;
  text-align: center;
  font-family: Roboto;
  border: none;
  font-size: 17rem;
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  border-radius: 28rem;
  background:  linear-gradient(90deg, #DD0085 -7.31%, #FF003C 54.55%, #FF7A00 117.06%);
}

.sale_info{
  background: url('./images/fire.svg');
  background-repeat: no-repeat;
  background-size: 120rem;
  max-width: 120rem;
  height: 120rem;
  text-align: center;
  justify-content: center;
  display: flex;
  flex-direction: column;
}

.sale_info .p{
  color: #000;
  font-family: Roboto;
  font-size: 18rem;
  font-style: normal;
  font-weight: 800;
  line-height: 110%; /* 19.8rem */
}

.sale_info h3{
  color: #252525;
  text-align: center;
  font-family: Roboto;
  font-size: 43rem;
  font-style: normal;
  font-weight: 700;
  line-height: 110%; /* 47.3rem */
  letter-spacing: -0.86rem;
  text-transform: uppercase;
}

.sales__section{
  margin-top: 96rem;
  display: flex;
  flex-direction: column;
}

.sales__hits{
  display: flex;
  justify-content: space-between;
  color:  #252525;
  font-family: Roboto;
  font-size: 36rem;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 43.2rem */
}

.price_swith{
  color:  #252525;
  font-family: Roboto;
  font-size: 16rem;
  font-style: normal;
  font-weight: 400;
  line-height: 24rem;
  display: flex;
  align-items: center;
  flex-direction: row;
  gap: 10rem;
}

.grid_container {
  padding-top: 36rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr; /* Three equal columns */
  gap: 27rem; /* Adjust the gap between columns */
}



/*demo___slider___*/
.switch {
  position: relative;
  display: inline-block;
  width: 60rem;
  height: 34rem;
}
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26rem;
  width: 26rem;
  left: 4rem;
  bottom: 4rem;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1rem #2196F3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26rem);
  -ms-transform: translateX(26rem);
  transform: translateX(26rem);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34rem;
}

.slider.round:before {
  border-radius: 50%;
}